<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>µSaver</title>
	<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,700">
	<link rel="stylesheet" href="css/jquery.mobile-1.4.5.css">
	<link rel="stylesheet" href="css/waves.min.css">
	<link rel="stylesheet" href="css/nativedroid2.css">
	<link rel="stylesheet" href="css/jquery.mobile.datepicker.css">
	<link rel="stylesheet" href="css/jquery.mobile.datepicker.theme.css">
	<link rel="stylesheet" href="css/animate.css">
	<link rel="stylesheet" href="css/app.css">
	<link href="css/materialdesignicons.min.css" media="all" rel="stylesheet" type="text/css" />
	<link href="css/fullcalendar.css" media="all" rel="stylesheet" type="text/css" />
	<link href="//cdnjs.cloudflare.com/ajax/libs/fullcalendar/2.4.0/fullcalendar.print.css
" media="print" rel="stylesheet" type="text/css" />

	<script src="cordova.js"></script>
</head>
<body>

	<div data-role="page" id="index-view" data-theme="a">
		<div data-role="header"  class="wow fadeIn">
			<ul data-role="nd2tabs" data-swipe="true">
				<li data-tab="expenses" data-tab-active="true">Expenses</li>
				<li data-tab="stats">Basic stats</li>
			</ul>
		</div>
		<div role="main" class="ui-content jqm-content">
			<div data-role="nd2tab" data-tab="expenses">
				<div id='calendar' style="margin:0px -15px 0px -15px;"></div>
			</div>
			<div data-role="nd2tab" data-tab="stats">
				<div id="container" style="height: 400px;width:100%;display:inline-block;"></div>
			</div>
		</div>
	</div>
	
	<div data-role="page" id="history-view" data-theme="a"></div>
	<script type="text/template" id="history-view-template">
		<div data-role="header"  class="wow fadeIn">
			<h1>History</h1>
			<ul data-role="nd2tabs" data-swipe="true">
				<li data-tab="lastmonth" data-tab-active="true">Last month</li>
				<li data-tab="alltime">All-time</li>
			</ul>
		</div>
		<div role="main" class="ui-content jqm-content">
			<div data-role="nd2tab" data-tab="lastmonth">
				<ul role="listview" class="items" data-count-theme="b" data-inset="true"></ul>
				<a class="ui-btn ui-corner-all ui-shadow ui-icon-refresh ui-btn-icon-left ui-btn-a showmore" onclick="">load 10 more...</a>
			</div>
			<div data-role="nd2tab" data-tab="alltime">
				wip
			</div>

		</div>
	</script>

	<div data-role="page" id="categories-view" data-theme="a"></div>
	<script type="text/template" id="categories-view-template">
		<div role="main" class="ui-content jqm-content">
			<h1>Categories</h1>
			
			<ul data-role="listview" class="items" data-inset="true" data-count-theme="b"></ul>
			
			<a href="#create-category-dialog" data-rel="popup" data-position-to="window" data-transition="pop" class="ui-btn ui-corner-all ui-shadow ui-btn-inline ui-icon-plus ui-btn-icon-left ui-btn-a">Create category...</a>

		</div>
	</script>
	

	<div data-role="page" id="category-view" data-theme="a"></div>
	<script type="text/template" id="category-view-template">
		<div role="main" class="ui-content jqm-content">
			<h1><%= name %></h1>
			<ul data-role="listview" class="items" data-inset="true" data-count-theme="b"></ul>		
			<a class="ui-btn ui-corner-all ui-shadow ui-icon-refresh ui-btn-icon-left ui-btn-a showmore" onclick="">load 10 more...</a>

		</div>
	</script>
	
	<!-- popups en dialogs en panels en de statische header -->
	
	<div data-role="header" data-position="fixed" data-theme="a" id="header">
		<a href="#main-menu" class="ui-btn clr-primary ui-btn-raised ui-btn-left ui-alt-icon ui-nodisc-icon ui-corner-all ui-btn-icon-notext ui-icon-bars"></a>
			<a href="#add-expense-dialog" onclick="window.current_date=new Date();" data-rel="popup" data-position-to="window" data-transition="pop" class="ui-btn ui-btn-right ui-alt-icon ui-nodisc-icon ui-corner-all ui-btn-icon-notext ui-icon-plus fadeIn waves-effect waves-button clr-primary" data-wow-delay='1.2s'></a>
		<h1>µSaver</h1>

	</div>
	


		<!-- panel left -->
		<div data-role="panel" data-theme="a"		id="main-menu" data-display="overlay" data-position-fixed="true" >


  <h3>Navigation</h3>
		<ul data-role="listview" data-inset="true" data-theme="a">
			<li><a href="#index-view" data-rel="close">Overview and stats</a></li>
			<li><a href="#history-view" data-rel="close">History</a></li>
			<li><a href="#categories-view" data-rel="close">Customize categories</a></li>
		</ul>		
			
	</div>

	<div data-role="popup" id="create-category-dialog" data-overlay-theme="b" data-theme="a" data-dismissible="false" style="max-width:400px;">
		<div data-role="header" data-theme="a">
			<h1>Create category</h1>
		</div>
		<div role="main" class="ui-content">
			<h3 class="ui-title">New category for expenses</h3>
			<p>Fill out the below form to create a category.</p>
			<form id="create-category-form">
				<label for="text-basic">Name:</label>
				<input type="text" name="name" id="text-basic" value="">
				<a href="#" class="ui-btn ui-btn-inline ui-icon-plus ui-shadow ui-btn-icon-left" id="create-category-button" data-rel="back">Create</a>
				<a href="#" class="ui-btn ui-corner-all ui-shadow ui-btn-inline ui-btn-a" data-rel="back">Cancel</a>
			</form>
		</div>
	</div>
	
	<div data-role="popup" id="add-expense-dialog" data-overlay-theme="b" data-theme="a" data-dismissible="false" style="max-width:640px;">
		<div data-role="header" data-theme="a">
			<h1>Add expense</h1>
		</div>
		<div role="main" class="ui-content">
			<h3 class="ui-title">New expense</h3>
			<p>Fill out the below form to add an expense.</p>
			<form id="add-expense-form">
			
			
					<label for="text-basic">Expense:</label>
					<input type="text" name="title" id="text-basic" value="">
					<label for="slider-fill">Amount</label>
					<input type="text" name="amount" id="text-basic" value="0">
					<label for="select-choice-a" class="select">Category:</label>
					<select name="category_id" id="select-choice-a" data-native-menu="false">
					    <option disabled selected value='0'>Select a category</option>
					</select>
				

					<label for="slider2">Fixed charge:</label>
					<select name="fixed_charge" id="slider2" data-role="flipswitch">
						<option value="0">No</option>
						<option value="1">Yes</option>
					</select>
					
					<input type="text" name="paid_at" style="display:none;"/>
			
			<a href="#" class="ui-btn ui-btn-inline ui-icon-plus ui-shadow ui-btn-icon-left" id="add-expense-button" data-rel="back">Add</a>
			<a href="#" class="ui-btn ui-corner-all ui-shadow ui-btn-inline ui-btn-a" data-rel="back">Cancel</a>
			</form>
		</div>
	</div>

<!-- overige hergebruikte backbone templates -->

<script type="text/template" id="category-list-template">
	<ul data-role="listview" data-count-theme="b" class="items" data-inset="true" data-filter="true"></ul>
</script>

<script type="text/template" id="category-list-item-template">
	<a id="category-list-item-<%= id %>" onclick="showcategory(<%= id %>);" data-name="<%= name %>" data-id="<%= id %>"><%= name %></a>
</script>

<script type="text/template" id="expense-list-item-template">
	<a id="expense-list-item-<%= id %>" data-id="<%= id %>">
	<img src="http://lorempixel.com/g/80/80/cats">
	<h2><span class="ui-li-count"><%= amount %></span><%= title %></h2>
	<p><%= description %></p>
	</a>
</script>


	<script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
	<script src="js/datepicker.js"></script>
	<script src="js/jquery.mobile-1.4.5.js"></script>
	<script src="js/nativedroid2.js"></script>
	<script src="js/waves.min.js"></script>
	<script src="js/jquery.mobile.datepicker.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.6/moment.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/fullcalendar/2.4.0/fullcalendar.min.js"></script>
	
	<script src="js/async.js"></script>
	<script src="js/underscore.js"></script>
	<script src="js/backbone.js"></script>
	
	<script src="js/highcharts/highcharts.js"></script>
	<script src="js/highcharts/highcharts-3d.js"></script>
	<script src="js/highcharts/modules/exporting.js"></script>

	<script src="js/database.js"></script>
	<script src="js/models/category.js"></script>
	<script src="js/models/categories.js"></script>
	<script src="js/models/expense.js"></script>
	<script src="js/models/expenses.js"></script>
	<script src="js/views/category-list-item.js"></script>
	<script src="js/views/history-view.js"></script>
	<script src="js/views/category-view.js"></script>
	<script src="js/views/categories-view.js"></script>
	<script src="js/views/expense-list-item.js"></script>

	<script src="js/app.js"></script>
	<script>
	document.addEventListener("deviceready", function(){
		navigator.splashscreen.hide();
	}, false);

	</script>
	
</body>
</html>
